
    <footer>
      <div class="cont footer">
        <p class="copy">&copy; {{ site.domain | capitalize }} {{ "now" | date: "%Y" }}</p>
        {% comment %}
        <!-- <p class="info">Site is a simple <a href="https://developers.google.com/web/progressive-web-apps/" rel="nofollow">Progressive Web App</a>.</p> 
        <a class="cybertool" href="//www.cybertool.site/" target="_blank">production by <img src="" alt="CYBERtool"></a>  -->
        {% endcomment %}
        
      </div>
    </footer>

    {% include svg.html %}

    <script src="/assets/js/bundle.js"></script>

    <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/sw.js')
          .then(registration => {
            console.log(`Service Worker registered! Scope: ${registration.scope}`);
          })
          .catch(err => {
            console.log(`Service Worker registration failed: ${err}`);
          });
      });
    }
    </script>
    
  </body>
</html>