<aside>
	<div class="side">
		<button type="button">Обратная связь</button>
		<iframe name="ifix" id="ifix"></iframe>
        <form id="feedback" class="feedback" action="{{ site.url }}" method="post" target="ifix">
          <p id="form-info">Отправьте нам Ваш вопрос:</p>
          <input type="text" name="entry.2005620554" aria-label="Имя" placeholder="Имя" required>
          <input type="email" name="entry.1045781291" aria-label="E-mail" placeholder="E-mail">
          <input type="tel" name="entry.1166974658" aria-label="Телефон" placeholder="Телефон" required>
          <textarea name="entry.839337160" aria-label="Текст сообщения" placeholder="Текст сообщения"></textarea>
          <div class="btns">
          	<button type="button">Отмена</button>
          	<button type="submit">Отправить</button>
          </div>
        </form>
	</div>

	<div class="widget">
		<h3>Примеры работ:</h3>
		<ul id="ex-list">
			<li>
				<a href=""><img src="/assets/img/gallery/6.jpg" alt="Строительство бассейна"></a>
			</li>
			<li>
				<a href=""><img src="/assets/img/gallery/5.jpg" alt="Строительство загородного коттеджа"></a>
			</li>
		</ul>
		<a href="" class="more">Смотреть все работы</a>
	</div>

</aside>